section.mars {
  padding: 10rem;
  width: 100%;
  /* height: 50rem; */
}

section.mars div.image {
  margin: auto;
}

section.mars img {
  width: 50rem;
  height: 50rem;
}

div.mars-gallery {
  margin: auto;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div.mars-gallery img {
  width: 20rem;
  height: 20rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

div.mars-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  margin: 1rem;
  width: 25rem;
}

div.mars-card h4 {
  background-color: lightgray;
  color: black;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

div.mars-gallery .loading {
  display: none;
}

div.mars-gallery div.image {
  margin: auto;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}