section.mars {
  padding-top: 5rem;
  width: 100%;
  height: 50rem;
}

section.mars div.image {
  margin: auto;
}

section.mars img {
  width: 50rem;
  height: 50rem;
}

div.mars-gallery {
  margin: auto;
  width: 50rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div.mars-gallery img {
  width: 20rem;
  height: 20rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

div.mars-card {
  display: flex;
  flex-direction: column;
}

div.mars-gallery img.loading {
  display: none;
}

div.mars-gallery img.loading-gif {
  width: auto !important;
  height: auto !important;
}

div.mars-gallery div.image {
  margin: auto;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}